// COLORs
@--color-white: #FFF;
@--color-dark: #000;

@--color-dark-variant: #454545;
@--color-white-variant: #999999;

@--color-primary: #44749D;
@--color-secondary: #C6D4E1;
@--color-tertiary: #BDB8AD;

// DEFAULTs
@--color-success: #00CE25;
@--color-warning: #F99E00;
@--color-danger: #E10000;
@--color-info: #0099E1;